@import "../../../../../assets/scss/mixins.scss";

.pokemon-detail {
  border: 0.1px solid var(--border-color);
  background-color: var(--text);
  border-radius: 5px;

  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: 100px 0 10px 0;

  &__sprite {
    width: 150px;
    margin-top: -100px;

    @include md {
      width: 200px;
      margin-top: -125px;
    }
  }

  &__name {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;

    margin: 5px;
  }
}
