<header id="header" class="header">
  <div class="header__info-container">
    <img
      id="logo"
      class="header__logo"
      src="assets/img/png/logo.png"
      alt="Pokemon Logo"
    />

    <!-- <nav id="list" class="header__nav">
      <ul>
        <li
          *ngFor="let header of headers"
          class="header__nav-list-li"
          [ngClass]="{'header__nav-list-li--selected': path === header.path}"
          (click)="goTo(header.path)"
        >
          {{ header.name }}
        </li>
      </ul>
    </nav> -->
  </div>
</header>
