/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/style.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

:root {
  @each $key, $color in $themes {
    --#{"" + $key}: #{$color};
  }
}
